body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.calculator-screen {
  width: 94%;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 16px;
  font-size: 18px;
  text-align: right;
  padding: 10px;
  border: none;
  background-color: #e6e6e6;
  border-radius: 5px;
  
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 18px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #bbb;
}